/* Reset, geral */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 70.625rem;
  margin: 0 auto;
}

/* Estilo header */
header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 28px;
  padding: 0 56px;
  box-sizing: border-box;
}

header a {
  display: inline-block;
  background: #e50914;
  color: white;
  align-self: flex-start;
  padding: 0.5rem 1.125rem;
  text-decoration: none;
  border-radius: 0.1875rem;
}

/* Estilo main */
.main {
  height: 49.0625rem;
  background: url("../img/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.main-child {
  z-index: 1;
  display: grid;
  justify-items: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.main h1 {
  font-size: 4rem;
  max-width: 42rem;
}

.main span {
  font-size: 1.625rem;
  margin-top: 0.625rem;
}

.main p {
  font-size: 1.1875rem;
}

.gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.8)
  );
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
/* Estilo form */
.btn-form {
  display: grid;
  grid-template-columns: 450px 200px;
  border-radius: 4px;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.btn-form input {
  padding: 1.25rem 0.625rem;
  font-size: 1.125rem;
  font-family: sans-serif;
}

.btn-form button {
  cursor: pointer;
  background-color: #ff000d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.875rem;
  border-radius: 4px;
}

.main-child form button::after {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 1.1875rem;
  background-image: url("../img/seta.svg");
  margin-left: 0.625rem;
  align-items: center;
}

.main-child form button:hover {
  background: #f40612;
}
/* Estilo p-section */

.p-section {
  background-color: #000;
  padding: 4rem 0;
  border-top: 8px solid #222;
}

.p-section h2 {
  font-size: 3.125rem;
  margin-bottom: 1rem;
}

.p-section p {
  font-size: 1.625rem;
}

.grid {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
}

.img-tv {
  position: relative;
}

.img-tv img {
  position: relative;
  z-index: 1;
}

.video-tv {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.download .grid > div:first-child {
  order: 2;
}

.download .img-tv {
  order: 1;
}

.devices .video-tv {
  top: 35%;
  max-width: 65%;
}

/*estilo footer */

footer {
  padding: 4rem 0 2rem 0;
  border-top: 8px solid #222;
  background-color: #000;
  text-align: center;
  display: grid;
  justify-items: center;
}

footer .btn-form {
  margin-top: 0;
}

footer p {
  margin-top: 2rem;
  color: #555;
  font-size: 0.875rem;
}

/* Estilo faq */
.faq {
  width: 100%;
}

.faq h2 {
  font-size: 3.125rem;
  margin-bottom: 2.5rem;
}

.faq-question h3 {
  font-size: 1.625rem;
  font-weight: 100;
}

.faq-list {
  margin: auto;
  max-width: 50.9375rem;
  font-size: 1.625rem;
  box-sizing: border-box;
}

.faq-question,
.faq-answer {
  background: #303030;
}

.faq-question {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.0625rem;
}

.faq-answer {
  padding: 30px;
  margin-top: 0;
  
}

.faq-list p{
  display: none;
  font-size: 1.625rem;
  text-align: left;
  color: #fff;
}

.faq-list.active p{
  display: block;
  animation: fadeIn .4s forwards;
}

/* Animação quando clicar na pergunta */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*  */

.faq .faq-list:last-child {
  margin-bottom: 3rem;
}

/* Animação do "X" do faq */
.faq-question::after {
  content: " ";
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background: url('../img/fechar.svg') no-repeat center center;
  transform: rotate(45deg);
}

.faq-list.active .faq-question::after {
  transform: rotate(0deg);
}

.faq-list .faq-question .faq-answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s cubic-bezier(0.5, 0, 0.1, 1);
}

.faq-list.active .faq-question .faq-answer {
  max-height: 1200px;
}

/* Responsivo */

@media (max-width: 800px) {
  header {
    padding: 0 1.25rem;
  }
  header img {
    max-width: 5rem;
  }

  .main {
    max-height: 31.25rem;
  }
  .main span,
  .main p {
    width: 80vw;
  }
  .main-child h1{
    margin-top: 5rem;
    font-size: 3rem;
    max-width: 80vw;
  }
  .main-child span {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .btn-form {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0.625rem;
    margin-top: 0.625rem;
  }
  .btn-form input {
    font-size: 0.8438rem;
    padding: 0.8125rem;
  }
  .btn-form button {
    font-size: 1rem;
    justify-self: center;
    padding: 0.25rem 1rem 0.5rem 1rem;
    border-radius: 0.125rem;
  }
  .form-cta button::after {
    margin-left: 0.3125rem;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 0.375rem 0.75rem;
  }
  .grid {
    grid-template-columns: 1fr;
  }

 section h2,
  .p-section p {
    text-align: center;
  }

  .p-section h2 {
    font-size: 26px;
    /* background-color: #fff; */
  }

  .section p {
    font-size: 18px;
  }
  .faq-question {
    padding: 16px 22px;
  }
  .faq-question h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .main h1 {
    font-size: 1.7rem;
  }
}

